body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}



.name-highlight{
    color: rgb(231, 44, 191);
    font-size: 45px;
   
}

h1{
    margin-top: -22px;
}

    


p{
    color: grey;
   
}

.top-header{
    background-image: url("header-bg.png");
    background-repeat: no-repeat;
    
    
}




.half-width{
    width: 380px;
    float: left;
    text-align: left;
    margin: 50px;
    
}


.button{
    padding: 10px 20px;
    background-color:  rgb(231, 44, 191);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.border{
    height: 1000px;
    
}





#text-align{
    margin: 320px 320px;
}

