body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}


.site-header{
    
    
    background-color: #000013;
   
   
    
}

.custom-logo{
    float: left;
    margin: 0px 0px 0px 100px;
}

.site-menu{
    float: right;
    color: white;
    margin: 15px 30px 30px 30px;
 
    

}

.site-menu ul{
    list-style: none;
    margin-right: 100px;
}

.site-menu > ul > li {
    float: left;
  
    
}


.site-menu ul li a{
    text-decoration: none;
  
    
    color: #c84a9b;
    text-transform: uppercase;
    padding: 20px;
    margin: 5px;
    display:inline-block;
    text-decoration: none;
    
}


.container::after{
    content: "";
    display: table;
    clear: both;
   
}





.site-menu ul li a:hover{
    color: #ffffff;
}